<a href="https://colab.research.google.com/github/Kanishkan-B/Ad-Click-Through-Rate-Analysis/blob/main/Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
a+=2   # this lines is expressing a = a + 2.
print(a)
a*=2   # this lines is expressing a = a * 2.
print(a)
a/=2   # this lines is expressing a = a / 2.
print(a)
a-=2   # this lines is expressing a = a - 2.
print(a)

3
6
3.0
1.0

In [ ]:
a = 10
b = 20

print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

In [ ]:
a = 10
b = 20
c = 30

print(a>b>c)
print(a<b>c)
print(a>b<c)
print(a<b<c)
print(a<=b)
print(a>=b>=c)
print(a<=b>=c)
print(a>=b<=c)
print(a>=b<=c)
print(a==b==c)
print(a!=b==c)
print(a!=b!=c)

False
False
False
True
True
False
False
False
False
False
False
True

In [ ]:
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))

print(f"the Addtion of the number is {a+b}")
print(f"the Subtraction of the number is {a-b}")
print(f"the Multiplication of the number is {a*b}")
print(f"the Division of the number is {a/b}")

Enter number A: 10
Enter number B: 20
the Addtion of the number is 30
the Subtraction of the number is -10
the Multiplication of the number is 200
the Division of the number is 0.5

In [ ]:
a = 2
b = 3
c = a & b
print(c)

2

In [ ]:
a = 10

a&=2

a

2

In [ ]:
a = 3
a<=2
a

3

In [ ]:
a&=10

In [ ]:
a

2

In [ ]:
A = 10
A |= 2

In [ ]:
A

10

In [ ]:
a = 3
a<=2

False

In [ ]:
a = "rh"

In [ ]:
a

'rh'

In [ ]:
a = int(10)

In [ ]:
a = int(input("Enter the first value: "))
b = int(input("Enter the second value: "))

print(a^b)

Enter the first value: 0
Enter the second value: 1
1

In [ ]:
Value = int(input("Enter the value to be predicted: "))

if Value %2 == 0:
  print(f"The number {Value} you have entered is Even.")
else:
  print(f"The number {Value} you have entered is Odd.")

Enter the value to be predicted: 2
The number 2 you have entered is Even.

In [ ]:
Num_1 = int(input("Enter the value: "))

while Num_1 > 0:

  Num_1-=1

  print(f"The number of iteration is:{Num_1}")

Enter the value: 10
The number of iteration is:9
The number of iteration is:8
The number of iteration is:7
The number of iteration is:6
The number of iteration is:5
The number of iteration is:4
The number of iteration is:3
The number of iteration is:2
The number of iteration is:1
The number of iteration is:0

In [ ]:
num = int(input("Enter the value: "))
while num <= 30:
  if num %3 == 0:
    print(f"The number {num}.")
  num+=1

Enter the value: 1
The number 3.
The number 6.
The number 9.
The number 12.
The number 15.
The number 18.
The number 21.
The number 24.
The number 27.
The number 30.

In [ ]:
for i in range(3,31,3):
  print("The multiplication of 3 table is ",i)

The multiplication of 3 table is  3
The multiplication of 3 table is  6
The multiplication of 3 table is  9
The multiplication of 3 table is  12
The multiplication of 3 table is  15
The multiplication of 3 table is  18
The multiplication of 3 table is  21
The multiplication of 3 table is  24
The multiplication of 3 table is  27
The multiplication of 3 table is  30

In [ ]:
input_value = int(input("Enter a Number: "))
div_2= input_value%2
div_3= input_value%3

if div_2==0 and div_3==0:
    print("Divisible By 2,3")
elif div_2==0:
    print("Divisible by 2")
elif div_3==0:
    print("Divisible by 3")
else:
    print("Not divisible by 2,3")

Enter a Number: 10
Divisible by 2

In [ ]:
score = int(input("Enter the marks you have scored "))

if score >= 60:
    print("You passed!")

    if score <= 100 and score >= 90:
        print("Your grade is A")
    elif score <= 89 and score >= 70:
        print("Your grade is B")
    elif score <= 69 and score >= 50:
        print("Your grade is C")
    else:
        print("Your grade is D")
else:
    print("You failed!")

Enter the marks you have scored 89
You passed!
Your grade is B

In [ ]:
#Write a program that determines the age category of a person based on their age:
#Child: 0-12 years,Teenager: 13-19 years,Adult: 20-64 years,Senior: 65 years and above

age_category = int(input("Enter your age: "))

if age_category >= 0 and age_category <= 12:

    print(f"Your age is {age_category} and you are a Child.")

elif age_category >= 13 and age_category <= 19:

    print(f"Your age is {age_category} and you are a Teenager.")

elif age_category >= 20 and age_category <= 64:

    print(f"Your age is {age_category} and you are a Adult.")
else:
    print(f"Your age is {age_category} and you are a Senior.")

Enter your age: 30
Your age is 30 and you are a Adult.

In [ ]:
number_of_the_day = int(input("Enter the number of the day: "))

if number_of_the_day == 1:
    print("The day you have Entered is Monday")
elif number_of_the_day == 2:
    print("The day you have Entered is Tuesday")
elif number_of_the_day == 3:
    print("The day you have Entered is Wednesday")
elif number_of_the_day == 4:
    print("The day you have Entered is Thursday")
elif number_of_the_day == 5:
    print("The day you have Entered is Friday")
elif number_of_the_day == 6:
    print("The day you have Entered is Saturday")
elif number_of_the_day == 7:
    print("The day you have Entered is Sunday")

Enter the number of the day: 6
The day you have Entered is Saturday

In [ ]:
# name
# len
# loer
# upper
# lower
# splt
# split based on letter
# eval()

name = input("Enter your name: ")

print(name.upper())

print(name.lower())

print(name.split('k'))

print(len(name))

print(name.split())

Enter your name: Kanishkan Preetha
KANISHKAN PREETHA
kanishkan preetha
['Kanish', 'an Preetha']
17
['Kanishkan', 'Preetha']

In [ ]:
user_input = int(input("Enter a number: "))

if user_input >= 2 and user_input <= 5:
  print("Shimla Manali Ooty.")
elif user_input >= 6 and user_input <= 9:
  print("Lonavala Goa Kodai.")
elif user_input >= 10 and user_input <= 12 or user_input == 1:
  print( "Munnar Kulu Manali")
else:
  print("Invalid Input")

Enter a number: 55
Invalid Input

In [ ]:
for i in range(0,20,2):
    if i<10:
        print(i)
        continue
    elif i==16:
        break
    else:
        pass
        print(i)

0
2
4
6
8
10
12
14

In [ ]:
user_height = input("Enter base and height: ")

user_radius = input("Enter the radius: ")

str_list = user_height.split(" ")

print(str_list)

print(user_radius)

Enter base and height: 15 6
Enter the radius: 30
['15', '6']
30

In [ ]:
str1 = "PREETHAKANISHKAN"
print("K"  in str1)
print("DEF" in str1)

True
False

In [ ]:
import math as m

user_input = float(input("Enter a number: "))

print(f"the square root is {m.sqrt(user_input)}")
print(round(user_input))
print(round(user_input,2))
print(round(user_input,3))
print(m.pow(user_input,2))
print(m.floor(user_input))
print(m.ceil(user_input))

Enter a number: 50.63
the square root is 7.1154760908880865
51
50.63
50.63
2563.3969
50
51

In [ ]:
import math

num = int(input("Enter a number: "))
result = math.sqrt(num)
print(result)
result = math.pow(num,num)
print(result)
result = math.factorial(3)
print(result)
str1 = "abc"
str2 = "123"
str3 = str1+str2
print(str3)

Enter a number: 5
2.23606797749979
3125.0
6
abc123

In [ ]:
import math as M
Radius = float (input ("Please enter the radius of the given circle: "))
area_of_the_circle = M.pi* Radius * Radius
print (f" The area of the given circle is: {area_of_the_circle}")

Please enter the radius of the given circle: 10
 The area of the given circle is: 314.1592653589793

In [ ]:
# Data types.

In [ ]:
List = [1,3,5,7,'Kani','Cat','Ant',True,False,10.5,26.89]

print(List)

print(List[1:5])

print(List[1:10:2])

print(List[:])

print(List[1:])

print(List[:8])

print(List[5])
print(List[2::5])

[1, 3, 5, 7, 'Kani', 'Cat', 'Ant', True, False, 10.5, 26.89]
[3, 5, 7, 'Kani']
[3, 7, 'Cat', True, 10.5]
[1, 3, 5, 7, 'Kani', 'Cat', 'Ant', True, False, 10.5, 26.89]
[3, 5, 7, 'Kani', 'Cat', 'Ant', True, False, 10.5, 26.89]
[1, 3, 5, 7, 'Kani', 'Cat', 'Ant', True]
Cat
[5, True]

In [ ]:
List = [1,3,5,7,'Kani','Cat','Ant',True,False,10.5,26.89]

List.insert(0,"meow")
print(List)

List.insert(-1,"bow bow")
List

List.insert(8,"parrot")
List

['meow', 1, 3, 5, 7, 'Kani', 'Cat', 'Ant', True, False, 10.5, 26.89]
['meow', 1, 3, 5, 7, 'Kani', 'Cat', 'Ant', True, False, 10.5, 'bow bow', 26.89]
['meow', 1, 3, 5, 7, 'Kani', 'Cat', 'Ant', 'parrot', True, False, 10.5, 'bow bow', 26.89]

In [ ]:
new_list = []

for i in range(0,20,2):
  new_list.append(i)
  print(new_list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
cat = [1,2,3,4,5,6,7,8,9,10]

cat.extend([11,12,13,14,15])

cat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
cat.append([16])

cat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, [16]]

In [ ]:
l1 = [1,3,'king','99.6',8,'cat','meow',9,'dog',4.89,'ant']
    # 0 1    2      3   4   5      6    7   8     9    10
# print(l1[5:0:-1])

print(l1[9:2:-2]) #start:stop:jump

[4.89, 9, 'cat', '99.6']

In [ ]:
#Write a program to extract  first_and_last(lst) that takes a list and returns first and last element of the list.

l1 = [1,3,'king','99.6',8,'cat','meow',9,'dog',4.89,'ant']

print(l1[0::10])

[1, 'ant']

In [ ]:
#Create a function slice_list(lst) that returns a slice of the list starting from index 2 to index 5 (exclusive).Expected output Output: [30, 40, 50]

def slice_list():
  l2 = [10,20,30,40,50,60,70,80,90]
  print(l2[2:5])

slice_list()

[30, 40, 50]

In [ ]:
#Write a program takes a string and returns the reverse of the string using slicing.

user_input = input("Enter a string: ")

print(user_input[::-1])

Enter a string: Kanishkan
nakhsinaK

In [ ]:
#Write a program  that returns a list of every second element from the input list using slicing.

user_input = input("Enter a string: ")

print(user_input[1::2])

Enter a string: kanishkan
aiha

In [ ]:
a = 10

b = list(str(a))

print(b)

['1', '0']

In [ ]:
list_10=[1,2,3,4,5,'SIX',7,8,['a', 'b', 'c', 'd'],10,[4, 5, 6.7, 8.9, 'Hai', 'dog', 'Cat', True, 8, False, 100]]
print(list_10[10][6])
print(list_10[5])

Cat
SIX

In [ ]:
List_3 = [1,2,3,4,5,'SIX',7,8,10]
List_4 = ['a', 'b', 'c', 'd']
List_5 = [4, 5, 6.7, 8.9, 'Hai', 'dog', 'cat', True, 8, False, 100]

List_3.insert(8,List_4)
List_3.insert(10,List_5)

print(List_3)

[1, 2, 3, 4, 5, 'SIX', 7, 8, ['a', 'b', 'c', 'd'], 10, [4, 5, 6.7, 8.9, 'Hai', 'dog', 'cat', True, 8, False, 100]]

In [ ]:
val_1 = True,False
list_32 = list(str(val_1))
print(list_32)

['(', 'T', 'r', 'u', 'e', ',', ' ', 'F', 'a', 'l', 's', 'e', ')']

In [ ]:
val = 6382837725
list_3 = list(str(val))
print(list_3)

['6', '3', '8', '2', '8', '3', '7', '7', '2', '5']

In [ ]:
cat = List_3 + list_3

cat

[1,
 2,
 3,
 4,
 5,
 'SIX',
 7,
 8,
 ['a', 'b', 'c', 'd'],
 10,
 [4, 5, 6.7, 8.9, 'Hai', 'dog', 'cat', True, 8, False, 100],
 '6',
 '3',
 '8',
 '2',
 '8',
 '3',
 '7',
 '7',
 '2',
 '5']

In [ ]:
tup_1 = (1,2,3,'kani','Cat','Meow',True,102.56,False)

tup_2 = ('second','tuple')

print(f"the type is {type(tup_1)}")

print(f"Indexing {tup_1[1]}")

print(f"Slicing {tup_1[1:5]}")

print(f"Slicing{tup_1[:]}")

print(f"Index of cat is {tup_1.index('Cat')}")

print(f"count of the number 102.56 is {tup_1.count(102.56)}")

print(f"Lenght of the tuple is {len(tup_1)}")

tup_1 = tup_1 + tup_2

print(f"Concat of the tuple {tup_1}")

print(f"Repitation of the tuple{tup_1*5}")

the type is <class 'tuple'>
Indexing 2
Slicing (2, 3, 'kani', 'Cat')
Slicing(1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False)
Index of cat is 4
count of the number 102.56 is 1
Lenght of the tuple is 9
Concat of the tuple (1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple')
Repitation of the tuple(1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple', 1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple', 1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple', 1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple', 1, 2, 3, 'kani', 'Cat', 'Meow', True, 102.56, False, 'second', 'tuple')

In [ ]:
tup_3 = (1,2,3,4,5,5,6,7,8,9,10)

print(f"Max of the tuple is {max(tup_3)}")

print(f"Min of the tuple is {min(tup_3)}")

print(f"Sum of the tuple is {sum(tup_3)}")

Max of the tuple is 10
Min of the tuple is 1
Sum of the tuple is 60

In [ ]:
# Write a Python program to count the number of times a specific element appears in a tuple.

tup_3 = (1,2,3,4,5,5,6,7,8,9,10)

print(tup_3.count(5))

2

In [ ]:
# Write a Python function that takes a list and converts it into a tuple.

Meow = [1,2,3,4,5,6,7,8,9,10]

print(type(Meow))

hello = tuple(Meow)

print(tuple(Meow))

<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(type(hello))

<class 'tuple'>

In [ ]:
# keys(),values(),items(),get(),copy(),update()

my_dict = {'Name':"Kani",'Age':20,'Gender':"Male",'Course':"DA-DS"}

my_dict

{'Name': 'Kani', 'Age': 20, 'Gender': 'Male', 'Course': 'DA-DS'}

In [ ]:
my_dict['Name']

'Kani'

In [ ]:
my_dict["Age"]

20

In [ ]:
my_dict["Course"]

'DA-DS'

In [ ]:
my_dict["Age"] = 19

my_dict

{'Name': 'Kani', 'Age': 19, 'Gender': 'Male', 'Course': 'DA-DS'}

In [ ]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Gender', 'Course'])

In [ ]:
my_dict.values()

dict_values(['Kani', 19, 'Male', 'DA-DS'])

In [ ]:
my_dict.items()

dict_items([('Name', 'Kani'), ('Age', 19), ('Gender', 'Male'), ('Course', 'DA-DS')])

In [ ]:
my_dict.get('Gender')

'Male'

In [ ]:
second_dict = my_dict.copy()

second_dict

{'Name': 'Kani', 'Age': 19, 'Gender': 'Male', 'Course': 'DA-DS'}

In [ ]:
my_dict.update({'Course':"DA-Python"})

my_dict

{'Name': 'Kani', 'Age': 19, 'Gender': 'Male', 'Course': 'DA-Python'}

In [ ]:
my_new_dict = {1: 'ab',
 5: 'Five',
 2: 'Two',
 3: 'third',
 4: 'Four',
 'a': [11, 22, 33, 44],
 'b': (55, 66, 77, 88),
 'Fruit': 'mango',
 'age': {'y': 6, 'e': [8, {'s': 56, 't': 78}]}}

In [ ]:
my_new_dict.pop(4)

'Four'

In [ ]:
my_new_dict

{1: 'ab',
 5: 'Five',
 2: 'Two',
 3: 'third',
 'a': [11, 22, 33, 44],
 'b': (55, 66, 77, 88),
 'Fruit': 'mango',
 'age': {'y': 6, 'e': [8, {'s': 56, 't': 78}]}}

In [ ]:
my_new_dict.popitem()

('age', {'y': 6, 'e': [8, {'s': 56, 't': 78}]})

In [ ]:
list1 = [1,2,3,4,5]
list2 = [i*2 for i in list1] # double the value
print(list2)
print(type(list1))

[2, 4, 6, 8, 10]
<class 'list'>

In [ ]:
dict_1 = {'a':10 , 'b':'AB' , 'c':30 , 'd':'CD' , 'e':50}
dict_2 = {k:v*3 for (k,v) in dict_1.items()} # Multiply all values by 3
dict_2

{'a': 30, 'b': 'ABABAB', 'c': 90, 'd': 'CDCDCD', 'e': 150}

In [ ]:
d4 = {1:5,12:45,3:23,4:19}
sorted(d4.items())

[(1, 5), (3, 23), (4, 19), (12, 45)]

In [ ]:
str1 = "PYTHON"
dict_1 = {k:v for (k,v) in enumerate(str1)}
dict_1
str1 = "abcdefghij"
dict_1 = {i:i.upper() for i in str1}
dict_1

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J'}

In [ ]:
def calc():
  x = int(input("Enter the value of x: "))
  op = input("Enter the operator: ")
  y = int(input("Enter the value of y: "))

  if op == "+":
    print(f"The additon of the two number is {x+y}")
  elif op == "-":
    print(f"The Subtraction of the two number is {x-y}")
  elif op == "*":
    print(f"The Multipliation of the two numbers is {x*y}")
  elif op == "/":
    print(f"The Division of the two number is {x/y}")

calc()

Enter the value of x: 50
Enter the operator: *
Enter the value of y: 5
The Multipliation of the two numbers is 250

In [ ]:
def concat(Default = "meow"):
  print(f"hello {Default}")

concat()

hello meow

In [ ]:
var = 10

def hello(a):
  var = 20
  print(f"This is the local variable {a} {var}")
hello(a = "hello")

print(f"This is a global varible {var}")

This is the local variable hello 20
This is a global varible 10

In [ ]:
def cat(*args):
  return (args)

cat("hello","world","by","Kani")

('hello', 'world', 'by', 'Kani')

In [ ]:
def UserDetails(**kwargs):
    print(kwargs)
UserDetails(Name='Kani' , ID = 2145 , Pincode= 41102 , Age = 20, Country= 'India')

{'Name': 'Kani', 'ID': 2145, 'Pincode': 41102, 'Age': 20, 'Country': 'India'}

In [ ]:
mul = lambda x,y : x*y

mul(2,3)

6

In [2]:
a = int(input("Enter a number A : "))
b = int(input("Enter a number B : "))

def swap(a, b):
    return b, a  # return the swapped values

a, b = swap(a, b)  # update original variables with swapped values
print("a:", a)
print("b:", b)

Enter a number A : 10
Enter a number B : 20
a: 10
b: 20

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]

# The filter function filters "list1" and returns all odd numbers using lambda function

odd_num = list(filter(lambda n: n%2 == 0 ,list1))
print(odd_num)

[2, 4, 6, 8, 10]

In [11]:
def three(n):

    return n*3

list1 = [1, 2, 3, 5.9, "Hello", "Kani","Meow"]

doubles = list(map(three,list1))

print(doubles)

[3, 6, 9, 17.700000000000003, 'HelloHelloHello', 'KaniKaniKani', 'MeowMeowMeow']

In [12]:
from functools import reduce

list1 = [10,2,3,4]

def sub(a,b):
    return a-b

subtract = reduce(sub,list1)

In [16]:
import array as ar

rat = ar.array('i',[10,5,17,63,59,48,43,14,763,45])

print(rat)

for i in rat:
  print(i)

array('i', [10, 5, 17, 63, 59, 48, 43, 14, 763, 45])
10
5
17
63
59
48
43
14
763
45

In [18]:
import array as arr

int_array = arr.array('i', [1,2,3,4,5,6])

# Accessing array elements

print(int_array[1:5:2])
print(int_array[-5:-1])
print(int_array[:5])

array('i', [2, 4])
array('i', [2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5])

In [23]:
import array as arr

val_of_array = arr.array('i',[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

print(val_of_array[1:19:2])

odd_num_1 = list(filter(lambda n: n%2 == 0 ,val_of_array))

print(odd_num_1)

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18])
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
val_of_array.append(21)

print(val_of_array)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21])

In [25]:
import array as arr

arr_1 = arr.array('i',[1,2,3,4,5])

arr_2 = arr.array('i',[6,7,8,9,10])

arr_1.extend(arr_2)

print(arr_1)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])